.header {
    background-color: #2c2c2c;
    box-shadow: 0px 1px 2px rgb(44 44 44 / 60%);
    position: sticky;
    top: 0;
    padding: 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header > div {
    display: flex;
    align-items: center;
}

/* left item css  */
.header label input[type="file"] {
    display: none;
}

.leftItem svg {
    color: #ffffff;
    margin-right: 15px;
    cursor: pointer;
}

/* center item css  */
.centerItem select {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    outline: none;
}

.centerItem select > option {
    color: #111111;
}

.centerItem span { 
    display: inline-block;
    margin-left: 5px;
    color: rgb(255 255 255 / 50%);
    font-size: 16px;
}

/* right item css  */  
.rightItem>span:nth-child(1){
    padding:8px;
    color:white;
    background-color:#18a0fb;
    border-radius:5px;
    cursor: pointer;
}

.rightItem>span:nth-child(2){
margin: 0 5px;
cursor: pointer;
color: #fff;
}

